name: .NET Publish

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10
    - name: Setup Windows SDK 10.0.18362.0
      uses: GuillaumeFalourd/setup-windows10-sdk-action@v2
      with:
        sdk-version: 18362
    - name: Build and Publish
      uses: SKProCH/CommonWorkflows/actions/build-publish@main
      with:
          publish-nightly: true
          nuget-key: ${{ secrets.NUGET_KEY }}
